@using EduLibraryHub.Models

<h2>Books</h2>
@foreach (var book in Model)
{
<div>
    <h3>@book.Title by @book.Author</h3>
    <p>@book.Description</p>
    <a href="/Books/Details/@book.Id">Details</a>
</div>
}
