<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Онлайн Библиотека</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-controller="Books" asp-action="Index">Книги</a></li>
                <li><a asp-controller="Books" asp-action="Create">Добави книга</a></li>
            </ul>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <p>© 2025 Онлайн Библиотека</p>
    </footer>
</body>
</html>